[submodule "public"]
	path = public
	url = https://github.com/ClearRoot/clearroot.github.io.git
	branch = master
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
